//提供scss全局变量

//左側的菜單的寬度
$base-menu-width:260px;
$base-menu-min-width:50px;

//左側的菜單的背景顏色
$base-menu-background:#001529;

//頂部導航的高度
$base-topbar-height:75px;

//左側菜單logo高度
$base-menu-logo-height:100px;

//左側菜單logo右側文字大小
$base-menu-title-font-size:20px;





